@font-face {
 font-family: 'Avara-Black';
 src: url('Avara-Black.otf');}
 
 @font-face {
 font-family: 'ChaparralPro-Regular';
 src: url('ChaparralPro-Regular.otf');}
 
/*Smartphone*/

@media only screen 
and (min-device-width : 375px) 
and (max-device-width : 667px) 
and (orientation : portrait)
{ 


body, html {
font-family: 'Avara-Black';
  height: 100%;
  margin: 0;

  /*overflow : hidden;
  width:100%; */
}
.bg{
  font-family: 'Avara-Black';
  height: 100%;
  margin: 0;
  color: white;
  z-index:0;
}

.fond{

 background-color: blue;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Avara-Black';
  height: 150%;
  margin: 0;
  color: white;
}

*{
box-sizing:border-box;
}

.container
{
	width:100%;
	margin:0;
	position:relative;
}

.image-groupe{
position:relative;
width:30%;
float:left;
height:500px;
	
}
h1{
	text-align: center;
	color:white;
	font-size: 30px;
}

.formulaire
{
	float:center;
	margin-left: 0%;
	margin-top: 60%;	
}

#date{
	
	animation: bounce 1s ease infinite alternate;
}

@keyframes bounce{
     from {transform: translateY(2px);}
     to   {transform: translateY(-2px);}
}
}
.name, .mdp
{
	padding-left:25px;
	padding-right:25px;
	padding-top:30px;
	padding-bottom:20px;
	background-color:navy;
	border:inherit;
	font-family: 'Avara-Black';
	font-size: 40px;
	opacity:0.8;
	border-radius:100px;
	color:white;
	width:50%;
	margin-bottom:3%;
}

.boutontexte
{
	text-align:center;
	font-size: 40px;
	background-color:navy;
	color:white;	
	border:inherit;
	border-radius:100px;
	padding-top:25px;
	padding-bottom:16px;
	padding-left:40px;
	padding-right:40px;
	margin-left: 28%;
	font-family: 'Avara-Black';	
}

.boutonforme
{
	text-align:left;
	margin-left: 8%;
}

.boutontexte:hover
{
	background-color:white;
	color: navy;
}

a:link 
{
	color:#FFF;
	text-decoration:none;

}
a:visited
{
	color:white;
	text-decoration:none;
}

@media screen and (max-width: 1202px) {
    .image-groupe{
		position:absolute;
        right:0;
    }
	
	.tab{
		left:10%;
		transform:translate(0);	
		
	}
	.tab img{
		height:21px;
		width:21px;	
	}
	
	.ligne1, .ligne2, .ligne3, .ligne4, .ligne5, .ligne6, .ligne7, .ligne8, .ligne9
, .ligne10, .ligne11, .ligne12, .ligne13, .ligne14, .ligne15, .ligne16, .ligne17, .ligne18
, .ligne19, .ligne20{
	height:21px;
}
}

@media screen and (max-width: 900px) {
	.formulaire{
		position:absolute;
		left:50%;
		transform:translateX(-50%);	
	}
	.tab{
		left:50%;
		transform:translateX(-50%);
		top:270px;
	}
	
	
	.ligne1, .ligne2, .ligne3, .ligne4, .ligne5, .ligne6, .ligne7, .ligne8, .ligne9
, .ligne10, .ligne11, .ligne12, .ligne13, .ligne14, .ligne15, .ligne16, .ligne17, .ligne18
, .ligne19, .ligne20{
	height:17px;
	
	
	}
	.tab img{
		height:17px;
		width:17px;	
	}
	
	.image-groupe{
		left:50%;
		transform:translateX(-50%);	
	}
}
.column {
  color: white;
  float: left;
  width: 80%;
  background-color: red;
}

p{
	color: white;
	margin-top:5%;
	font-family: 'ChaparralPro-Regular';
}
.menu {
	
 background-image: url("../img/menu.png");
  display: inline-block;
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   color: white;
   text-align: center;
   font-family: 'ChaparralPro-Regular';
  
}
.closebtn {
  position: absolute;
  top: 20px;
  left: 20px;
  font-size: 50px;
  font-family: 'Avara';
  position: fixed;
}

.text {
  background-color: white;
  color: navy;
  padding-top: 5px;
  padding-left: 20px;
  margin-left: 6.5%;
  border-radius: 15px;
  position: fixed;
  margin-top: 100%;
  height: 250px;
  width: 87%;
}

.text2 {
  
  background-color: white;
  color: navy;
  padding-top: 5px;
  padding-left: 20px;
  margin-left: 6.5%;
  border-radius: 15px;
  position: fixed;
  margin-top: 20%;
  height: 580px;
  width: 87%;
}


form{
	font-size: 10px;	
}

#button{
	margin-top: 8%;
	float:right;
	
	 background-color: navy;
	 border-radius:30px;color: white;
	 padding: 5px;
	 border: none;
	 font-family:'ChaparralPro-Regular';
	 cursor: pointer;
	}

hr{
	size: 2px;
	color: blue;
	width: 150px;
	margin-left: 0;
}

.column2 {
  float: left;
  width: 50%;
  padding: 20px;
}

.column2 img {
  margin-top: 12px;
}

div.polaroid {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin: 5px;
  padding: 0;
}

.contain{
	font-size: 10px;
	text-align: left;
	padding:30px;
	margin-top: 75%;
	margin-left:-6%;
	background-color: red;
}

div.container {
  font-size: 10px;
  text-align: center;
  padding:8px 5px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
}